<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body class="body">
    <div class='page'>
        <div class='left-col'>
            <form action="">
                <div class="fields">
                    <label><b>Blog Name:</b></label>
                    <input type="text" name="blog_name" id="blog_name">

                    <label><b>Tag:</b></label>
                    <input type="text" name="tag" id="tag">
                </div>
                <div class="search-btn">
                    <button class="search-submit" type="submit">Search</button>
                </div>
            </form>
            <hr>
            <div class="search-results">
            </div>
        </div>
        <div class='right-col'>
            <div class="fav">Favorites: </div>
            <ul class="fav-list">
            </ul>
        </div>
    </div>

</body>
</html>